<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= yield %>
  <% if user_signed_in? && controller_name == 'items' && action_name == 'index' %>
  <div class="purchase-btn">
    <%= link_to new_item_path, class: "purchase-btn-text", id: "new-item-link" do %>
      <span>出品する</span>
      <%= image_tag "icon_camera.png", class: "purchase-btn-icon", id: "new-item-icon" %>
    <% end %>
  </div>
  <% elsif controller_name == 'items' && action_name == 'index' %>
  <div class="purchase-btn">
    <%= link_to new_user_session_path, class: "purchase-btn-text", id: "new-item-link", data: { turbo: false } do %>
      <span>出品する</span>
      <%= image_tag "icon_camera.png", class: "purchase-btn-icon", id: "new-item-icon" %>
    <% end %>
  </div>
  <% end %>

</body>

</html>
